<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurant">
      <h2 data-cy="restaurantDetailsHeading"><span>Restaurant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ restaurant.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ restaurant.name }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ restaurant.phone }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ restaurant.address }}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
          <div *ngIf="restaurant.photo">
            <a (click)="openFile(restaurant.photo, restaurant.photoContentType)">
              <img
                [src]="'data:' + restaurant.photoContentType + ';base64,' + restaurant.photo"
                style="max-width: 100%"
                alt="restaurant image"
              />
            </a>
            {{ restaurant.photoContentType }}, {{ byteSize(restaurant.photo) }}
          </div>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
          <span>{{ restaurant.longitude }}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
          <span>{{ restaurant.latitude }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant', restaurant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
